@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-bg-color: coral; 
    --main-font-color: white;
  }


body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#quotebox {
    background-color: var(--main-font-color);
    min-height: 100px;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: auto 50px 40px;    
}

.speakerquote {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}

button {
    font-size: 20px;
    background:var(--main-bg-color);
    color: var(--main-font-color);
}

.speaker {
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}

.tweet {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end:4;
    text-decoration: none;

}

.newquote {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
}

