@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-bg-color: coral; 
    --main-font-color: white;
  }


body {
    background-color: var(--main-bg-color);
    transition: background-color .5s;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#quotebox {
    background-color: var(--main-font-color);
    min-height: 100px;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 20px 60px 150px 150px 150px 60px 20px;
    grid-template-rows: auto  10px 10px 40px;    
}

.speakerquote {
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:2;
    transition-duration: 2s;
}

button {
    font-size: 20px;
    background:var(--main-bg-color);
    color: var(--main-font-color);
    border-radius: 5px;
}

#tweet {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end:5;
    text-decoration: none;

}

.newquote {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end:5;
}

