/* The new stylesheet */

:root {
    --portfolio1: #91C0E0;
    --portfolio2_3: #CEE5F2;
    /* --subtitle1: red; */
    --motivation1: #A4C3B2;
    --motivation2_3: #CCE3DE;
    --subtitle2: #BD9391;
    --main-font:  #BD9391;
    /* --footer_col:  #BD9391; */
}


body {
    font-family: 'Merriweather', serif;
    /* border: 2px solid green; */
    display: flex;
    padding: 5px;
}
img {
    width: 70%;
    min-width: 200px;
    align-self: center

}
a {
    text-decoration: none;
    color: black;
}
.button {
    background-color: #4CAF50; Green
    border: none;
    color: white;
    padding: 150px 302px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.left-col-dummy {
    padding: 10px;
    min-width: 80px;
    /* border: 2px solid purple; */

}
.side-bar {
    position:fixed;
    /* border: 2px solid blue; */
    margin: auto;
    padding: 20px 20px 0px 10px;
    writing-mode: vertical-lr;
    font-size: 1.9em;

}
.right-col {
    /* border: 2px solid red; */
    margin: 2px;
    padding: 2px;

}
header {
    /* border: 2px solid orange; */
    margin: 5px;
    flex-grow: 1;
}
@media only screen  and (min-width : 1224px) {
    .hero {
        display:flex;
      flex-direction: column;
    }
    h1 { min-width:  30%;}
    .dummy-header-div {
        min-width:10%
    }
}

.firstsubtitle u {
    text-decoration: none;
    border-bottom: 5px solid var(--portfolio1);
}

.secondsubtitle u {
    text-decoration: none;
    border-bottom: 5px solid var(--motivation1);
}

main {
    /* border: 2px solid yellowgreen; */
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box {
    margin: 10px;
    border: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img_box h3, p {
    width: 70%;
    align-self: center;
}

.img_box {
    justify-content: start;
}

/* .intro {border: solid rgb(255, 32, 153);} */
.portfolio1 {
    /* {border: solid rgb(0, 81, 255); */
    background-color: var(--portfolio1);
}
.portfolio1 img {
}
.portfolio2, .portfolio3 {
    background-color: var(--portfolio2_3);
}
.contribute {
    background-color: var(--subtitle1);
}
.motivation3 {
    background-color: var(--motivation1);
}
.motivation1, .motivation2 {
    background-color: var(--motivation2_3)
}
footer {
    background-color: var(--footer_col);

}
/* .contribute {border: solid rgb(10, 50, 10);} */
/* .motivation1 {border: solid  rgb(0, 81, 255);} */
/* .motivation2 {border: solid  rgb(255, 0, 0);} */
/* .motivation3 {border: solid  rgb(255, 0, 179); } */

.sliderbuttons {
    align-self:center;
}
.motivation1, .motivation2 {
    order: 2
}
.extraspace {
    min-height:10px;
}

@media only screen  and (min-width : 1224px) {
    main {
        flex-direction: row;
        flex-wrap: wrap
    }
    .box {
        width: 40%;
        flex-grow:1;
    }
    .intro, .portfolio1, .contribute, .motivation3 {
        width: 100%;
    }
    .portfolio1 img, .motivation3 img, .portfolio1 p, .portfolio1 h3, .motivation3 p, .motivation3 h3 {
        width: 85%
    }
    .extraspace {
        min-height:20px;
    }

}


footer {
    /* border: 2px solid pink; */
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}