body {#
    background-color: #C9E4CA;
    font-family: 'Merriweather', serif;

}

.title {
    display:flex;
    justify-content: center;
    background-color: #080708;
    color:#FEFFFE;
}
.subtitle {
    display:flex;
    justify-content: center;
    background-color: #BFD7EA;
    color:black;
}
.image-carousel {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 80%;
}

.description {
    display:flex;
    justify-content: center;
    background-color: #BCE7FD;
    color:black;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #080708;
}
.links a {
    color: #FEFFFE;

}
.itemwhy {
    display: flex;
    justify-content: space-around;
    background-color: #BFD7EA;
}
/* 50vh - think of a viewport as having 100 vh */
#slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
}

.wrap {
    position:relative;
}

/* Need to review since this is for full page  */
.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {background-image: url('images/codeatuni1.jpg');}
.slide2 {background-image: url('images/codeatuni2.jpg');}
.slide3 {background-image: url('images/codeatuni3.jpg');}


.slide-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    font-size: 5rem;
    color: #FEFFFE;
}

.arrow{
    cursor:pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width:0;
    height:0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    left:0;
    margin-left: 30px;
    border-color: transparent #FEFFFE transparent transparent;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    right:0;
    margin-right: 30px;
    border-color: transparent transparent transparent #FEFFFE;
}