/* The new stylesheet */

body {
    font-family: 'Merriweather', serif;
    border: 2px solid green;
    display: flex;
    padding: 5px;
}
img {
    width: 70%;
    min-width: 200px;
    align-self: center

}
a {
    text-decoration: none;
    color: black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.left-col-dummy {
    padding: 10px;
    min-width: 80px;
    border: 2px solid purple;

}
.side-bar {
    position:fixed;
    border: 2px solid blue;
    margin: auto;
    padding: 20px 20px 0px 10px;
    writing-mode: vertical-lr;
    font-size: 1.9em;

}
.right-col {
    border: 2px solid red;
    margin: 2px;
    padding: 2px;

}
header {
    border: 2px solid orange;
    margin: 5px;
    flex-grow: 1;
}
@media only screen  and (min-width : 1224px) {
    .hero {
        display:flex;
      flex-direction: row;
    }
    h1 { min-width:  30%;}
    .dummy-header-div {
        min-width:10%
    }
}

main {
    border: 2px solid yellowgreen;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box {
    margin: 10px;
    border: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img_box h3, p {
    width: 70%;
    align-self: center
}

.img_box {
    justify-content: start;
}

.intro {border: solid rgb(255, 32, 153);}
.portfolio1
    {border: solid rgb(0, 81, 255);
}
.portfolio1 img {
}
.portfolio2 {border: solid rgb(255, 0, 0);}
.portfolio3 {border: solid rgb(255, 0, 179);}
.contribute {border: solid rgb(10, 50, 10);}
.motivation1 {border: solid  rgb(0, 81, 255);}
.motivation2 {border: solid  rgb(255, 0, 0);}
.motivation3 {border: solid  rgb(255, 0, 179); }

.sliderbuttons {
    align-self:center;
}



@media only screen  and (min-width : 1224px) {
    main {
        flex-direction: row;
        flex-wrap: wrap
    }
    .box {
        width: 40%;
        flex-grow:1;
    }
    .intro, .portfolio1, .contribute, .motivation3 {
        width: 100%;
    }
    .motivation1, .motivation2 {
        order: 2
    }
}


footer {
    border: 2px solid pink;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}