@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px solid grey;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.calc-btn:hover {
    background-color: orange;
}

.row { 
    display: table;
    table-layout: fixed;
    width: 200px;
}

.column {
    display: table-cell;
}

#calc-equals {
width: 52px;
}
#calc-clear { 
    width: 79px;
}

#calc-display-val,#calc-display-history {
    text-align: right;
    border: 1px 1px 0px 1px solid grey;
    padding: 5px;    
    background-color: darkgrey;
    overflow: hidden;
    white-space: nowrap;
}

#calc-display-val {
    font-size: 32px;
    height: 20px;
}

#calc-display-history {
    height: 10px;
    font-size: 20px;
    border-radius: 7px 7px 0px 0px;
}
.calc-btn-operator {
    background-color: orange;
    color: white;
}

#calc-equals {
    border-radius: 0px 0px 7px 0px;
}

#calc-zero {
    border-radius: 0px 0px 0px 7px;
}
