body {
    font-family: 'Merriweather', serif;
    border: 2px solid green;
    display: flex;
    padding: 5px;
}
img { 
    width: 100%; 
    min-width: 200px;
    align-self: center
}

.left-col-dummy {
    padding: 10px;
    min-width: 80px;
    border: 2px solid purple;

}
.side-bar {
    position:fixed;
    border: 2px solid blue;
    margin: auto;
    padding: 20px 20px 0px 10px;
    writing-mode: vertical-lr;
    font-size: 1.9em;

}
.right-col {
    border: 2px solid red;
    margin: 5px;
    padding: 5px;

}
header {
    border: 2px solid orange;
    margin: 5px;
    flex-grow: 1;
}
@media only screen  and (min-width : 1224px) {
    .hero {
        display:flex;
      flex-direction: row;
    }
    h1 { min-width:  30%;}
    .dummy-header-div {
        min-width:10%
    }
   }

main {
    border: 2px solid yellowgreen;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box {
    margin: 5px;
    border: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}
.portfolio1 
    {border: solid rgb(0, 81, 255);
}
.portfolio1 img {
}
.portfolio2 {border: solid rgb(255, 0, 0);}
.portfolio3 {border: solid rgb(255, 0, 179);}
.motivation1 {border: solid  rgb(0, 81, 255);}
.motivation2 {border: solid  rgb(255, 0, 0);}
.motivation3 {border: solid  rgb(255, 0, 179); }




footer {
    border: 2px solid pink;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}